<h1><%= @list.id ? 'Edit List' : 'Create List' %></h1>
<hr />
<br />



<%= form_for [@board, @list], :html => { class: "ui form" } do |f| %>
  <div class = "field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input" %>
  </div>
  <%= f.submit nil, class: "ui inverted green button" %>
<% end %>